{% extends "layout.html" %}
{% block body %} 
<title>Program 4 Web + Storage</title>
  <h1>Ji Kang's CSS490 Program</h1>
  <h2>Is case-sensitive so please capitalize the first letter!</h2>
  <form method=post>
    <dl>
      <dd><input type=submit name="enter_button" value="Load Data">
      <dd><input type=submit name="enter_button" value="Clear Data">
      <dd>First Name:    <input type=text name=firstName>
      <dd>Last Name:     <input type=text name=lastName>
      <dd><input type=submit name="enter_button" value="Query"> 
    </dl>
{% endblock %}